################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ZCamStreamUI/.vs/ZCamStreamUI/CopilotIndices/17.14.1593.33849
/ZCamStreamUI/.vs/ZCamStreamUI/FileContentIndex
/ZCamStreamUI/ZCamStreamUI/obj
/ZCamStreamUI/.vs/ZCamStreamUI/v17
/ZCamNativeProcess/ZCamNativeProcessor/x64/Release
/ZCamStreamUI/ZCamStreamUI/bin/Release/net8.0-windows
